*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 30px;
	color: 	SeaShell;
	background-color: SeaShell;
	line-height:1.6;
}

#showcase {
	background-image: url('showcase.jpg');
	height:100vh;
	background-size:cover;
	background-position:center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
	
}

#showcase h1 {
	font-size: 50px;
	line-height: 1.2;
	font-weight: bold;
}

#showcase p {
	font-size: 20px;
	font-weight: bold;
}

/* #showcase button {
	font-size: 18px;
	text-decoration: none;
	color: red;
	padding: 10px 20px;
	margin: 10px;
} */

.cancel {
	padding: 8px 16px;
	margin: 7px;
}

#showcase .input {
	padding: 7px;
	margin: 7px;
	display: inline-block;
	float: center;
}

button a{
	text-decoration: none;
	font-size: 
}

.butt {
	margin: 7px;
	width: 170px;
}












